.header {
  display: flex;
  justify-content: center;
  color: #f1f2f6;
  padding: 20px;
}
.App {
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: #006d77;
  height: 100vh;
  overflow-y: overlay;
}
/* 197278 */
